{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>App translations</h1>
        </div>
    </div>

    {% include 'translation/_filter_form.html.twig' %}

    <div class="row">
        <div class="col-md-12">
            <table class="table"
                   data-path="{{ absolute_url(path('app_translation_translations', {'domain': '__DOMAIN__', 'locale': '__LOCALE__'})) }}"
                   data-submit="{{ absolute_url(path('app_translation_submittranslations')) }}"
            >
                <thead>
                <tr>
                    <th>Translation keys</th>
                    <th>Messages ({{ defaultLocale }})</th>
                    <th>Messages ({{ selectedLocale }})</th>
                </tr>
                </thead>
                <tbody>
                {% for key, message in messages %}
                    <tr>
                        <td>
                            <code>
                                {{ key }}
                            </code>
                        </td>
                        <td>{{ message }}</td>
                        <td>
                            {% set inputVal = '' %}
                            {% if translatedMessages[key] is defined %}
                                {% set inputVal = translatedMessages[key] %}
                            {% endif %}
                            <input class="form-control"
                                   type="text"
                                   value="{{ inputVal }}"
                                   placeholder="Translation in {{ selectedLocale }}"
                                   name="{{ key }}|{{ selectedLocale }}|{{ selectedDomain }}"
                            >
                            <div class="alert alert-success mt-2 mb-0 p-2 d-none" role="alert">
                                Translation saved !
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const domainSelect = document.querySelector('select[name="domain"]');
            const localeSelect = document.querySelector('select[name="locale"]');

            domainSelect.addEventListener('change', () => {
                submitChange(domainSelect.value, localeSelect.value);
            });

            localeSelect.addEventListener('change', () => {
                submitChange(domainSelect.value, localeSelect.value);
            });

            const translationInputs = document.querySelectorAll('input[type="text"]');

            translationInputs.forEach((translationInput) => {
                translationInput.addEventListener('blur', () => {
                    let formData = new FormData();
                    formData.append(translationInput.name, translationInput.value);

                    fetch(document.querySelector('table').dataset.submit, {
                        method: 'POST',
                        body: formData
                    }).then((response) => {
                        return response.json();
                    }).then((data) => {
                        if (data.success) {
                            const successAlert = translationInput.nextSibling.nextSibling;
                            successAlert.classList.remove('d-none');
                            setTimeout(() => {
                                successAlert.classList.add('d-none');
                            }, 1000);
                        }
                    });
                })
            });
        });

        function submitChange(domain, locale) {
            window.location.href = document.querySelector('table').dataset.path.replace('__DOMAIN__', domain).replace('__LOCALE__', locale);
        }
    </script>
{% endblock %}