{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>App translations</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="domain">Translation domain</label>
                <select name="domain" class="form-control">
                    {% for domain in domains %}
                        <option value="{{ domain }}" {% if domain == selectedDomain %}selected{% endif %}>{{ domain }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="locale">Translation locale</label>
                <select name="locale" class="form-control">
                    {% for locale in locales %}
                        <option value="{{ locale }}" {% if locale == selectedLocale %}selected{% endif %}>{{ locale }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table" data-path="{{ absolute_url(path('app_translation_translations', {'domain': '__DOMAIN__', 'locale': '__LOCALE__'})) }}">
                <thead>
                <tr>
                    <th>Translation keys</th>
                    <th>Messages ({{ defaultLocale }})</th>
                    <th>Messages ({{ selectedLocale }})</th>
                </tr>
                </thead>
                <tbody>
                {% for key, message in messages %}
                    <tr>
                        <td>
                            <code>
                                {{ key }}
                            </code>
                        </td>
                        <td>{{ message }}</td>
                        <td>
                            {% set inputVal = '' %}
                            {% if catalogs[selectedLocale][key] is defined %}
                                {% set inputVal = catalogs[selectedLocale][key] %}
                            {% endif %}
                            <input class="form-control"
                                   type="text"
                                   value="{{ inputVal }}"
                                   placeholder="Translation in {{ selectedLocale }}"
                                   name="{{ key }}-{{ selectedLocale }}-{{ selectedDomain }}"
                            >
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const domainSelect = document.querySelector('select[name="domain"]');
            const localeSelect = document.querySelector('select[name="locale"]');

            domainSelect.addEventListener('change', () => {
                submitChange(domainSelect.value, localeSelect.value);
            });

            localeSelect.addEventListener('change', () => {
                submitChange(domainSelect.value, localeSelect.value);
            });
        });

        function submitChange(domain, locale) {
            window.location.href = document.querySelector('table').dataset.path.replace('__DOMAIN__', domain).replace('__LOCALE__', locale);
        }
    </script>
{% endblock %}